.header {
    width: 1240px;
    height: 88px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 383px;

}
.menu > a + a {
    margin-left: 8px;

}

.link {
    background: #1C1C21; 
    border: none;
    outline: none;
    display: flex;
    flex-direction: row; 
    align-items: center;
    border-radius: 40px;
    text-decoration: none;
}

.link_inactive {
    composes: link;
    color: #8585AD 
}

.title {
    font-family: 'Jet Brains Mono', Arial, sans-serif;
    color: #F2F2F3;
    font-size: 16px;
    white-space: nowrap;
}

.title_secondary {
    composes: title;
    color: #8585AD 
}