.container {
    width: 600px;
}

.main_title {
    font-family: 'Jet Brains Mono', Arial, sans-serif;
    color: #F2F2F3;
    font-size: 36px;
    margin: 0;
}

.tab_title {
    composes: main_title;
    font-size: 24px;
}

.items {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.types_container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow-y: scroll;
    overflow-x: hidden;
}

.types_container::-webkit-scrollbar {
    width: 8px;
    background-color: #2f2f37;

}
.types_container::-webkit-scrollbar-thumb {
    background-color: #8585AD;
    
}  

.items_container {
    display: flex;
    flex-direction: column;
    justify-content: start;
}
    
@media (max-width: 768px) {
    .types_container {
        max-height:  200px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .types_container {
        max-height:  716px;
    }
}

@media (min-width: 1366px) {
    .types_container {
        max-height:  716px;
    }   
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 272px;
    position: relative;
}

.price {
    composes: main_title;
    font-family: 'Iceland', Arial, sans-serif;
    font-size: 28px;
} 

.text {
    composes: main_title;
    font-size: 16px;
    height: 48px;
}
